.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f10;
}

.container {
    display: flex;
    max-width: 1200px;
    max-height: 54px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    fill: #fff;
}
